.Library
Library
.Temp
Temp

Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
